:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

/* --------------------------- Navbar --------------------------- */

section #navbar {
  display: flex;
  flex-wrap: wrap;
}

nav {
  display: flex;
  flex-direction: row wrap;
  width: 100%;
  padding: 2rem;
}

#nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  padding: 0 5rem 0;
}

/* ------------------ List ------------------ */
.container {
  padding: 20px;
}

/* Grid layout */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Individual cards */
.card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.card img {
  /* border-radius: 4px; */
  margin-bottom: 10px;
  align-self: center;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
}
